<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SỨC KHỎE MÙA DỊCH</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a href="index.html" class="header__logo">
        <img src="./img/logo.png" alt="" class="image">
        <div class="header__title">
          <span>SỨC KHỎE MÙA DỊCH</span>
        </div>
      </a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class='bx bxs-grid'></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="form1.html">Khai báo y tế</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="form2.html">Đăng ký tiêm</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tra cứu
            </a>
            <ul class="dropdown-menu mb-3" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Chứng nhận tiêm</a></li>
              <li><a class="dropdown-item btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" href="#">Kết quả đăng ký tiêm</a></li>
            </ul>
          </li>
          <li class="nav-item nav__avatar">
            <img class="nav__img" src="img/no-avatar.png" alt="">
          </li>
          <div class="avatar__wrap hide">
            <div class="avatar__item"><a href="#">Trang cá nhân</a></div>
            <div class="avatar__item"><a href="login.html">Đăng nhập</a></div>
            <div class="avatar__item"><a href="#">Đăng xuất</a></div>
            
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 new__wrap">
        <a href="details.html" class="new">
          <img src="https://www.thegioimaychu.vn/blog/wp-content/uploads/2021/07/TheGioiMayChu-Blog-Image.jpg" alt="">
          <span>Vì sao chưa thể bỏ khái niệm F0, F1?</span>
        </a>
      </div>
    </div>

    <div class="row mt-3 category__wrap">
      <div class="col-xl-7 col-md-12 mb-3">
        <div class="category-left">
          <img src="https://cdn.24h.com.vn/upload/2-2020/images/2020-04-06/medium/1586170945-554-158616577823803-thumbnail.jpg" alt="">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, accusamus eos quidem similique eum adipisci itaque omnis ullam nostrum repellendus sit earum veritatis sequi. Temporibus harum debitis consectetur dolorem rem.</span>
        </div>
        <div class="category-left">
          <img src="https://cdn.24h.com.vn/upload/3-2020/images/2020-08-12/medium/1597228217-414-thumbnail-width640height480.jpg" alt="">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, accusamus eos quidem similique eum adipisci itaque omnis ullam nostrum repellendus sit earum veritatis sequi. Temporibus harum debitis consectetur dolorem rem</span>
        </div>
        <div class="category-left">
          <img src="https://cdn.24h.com.vn/upload/3-2020/images/2020-08-01/medium/0-1596272564-915-width640height480.jpg" alt="">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
        </div>
        <div class="category-left">
          <img src="https://cdn.24h.com.vn/upload/2-2020/images/2020-04-06/medium/1586183164-895-158618150792080-thumbnail.jpg" alt="">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
        </div>
        <div class="category-left">
          <img src="https://cdn.24h.com.vn/upload/2-2020/images/2020-04-05//medium/1586058712-b09852aad426b62efe335b878cc144a9.png" alt="">
          <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
        </div>
      </div>
      <div class="col-xl-5 col-sm-12 mb-3">
        <div class="category-right mb-3">
          <img src="https://moh.gov.vn/documents/176127/0/06.8.2020+Niem+tin+chien+thang.jpg/4e85a736-317d-4a32-89d5-18696f4f6bff?t=1596776367881" alt="">
          <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, placeat ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, non at? Nobis, in asperiores adipisci non, libero porro dolorum ipsam possimus sit laborum qui! Recusandae unde doloremque ex ipsa placeat.</span>
        </div>
        <div class="category-right">
          <img src="https://cdn.tgdd.vn/Files/2020/03/20/1243274/dai-dien-1_1280x720-800-resize.jpg" alt="">
          <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, placeat ut.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5"></div>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-bg">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Chứng nhận tiêm chủng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal__header">
            <img src="img/logo.png" alt="">
            <p class="mt-3">ĐÃ TIÊM <strong>2</strong> MŨI VẮC XIN</p>
            <img class="QR__code" src="img/qrcode.png" alt="">
          </div>
          <h6>Thông tin cá nhân</h6>
          <div class="form mt-3">
            <div class="form__wrap">
              <div class="form__icon">
                <i class='bx bxs-user'></i>
              </div>
              <div class="form__content">
                <span>Họ tên</span>
                <p>Ngô Văn Tùng</p>
              </div>
            </div>
            <div class="form__wrap">
              <div class="form__icon">
                <i class='bx bxs-calendar'></i>
              </div>
              <div class="form__content">
                <span>Ngày sinh</span>
                <p>18/03/2001</p>
              </div>
            </div>
            <div class="form__wrap">
              <div class="form__icon">
                <i class='bx bxs-calendar-event'></i>
              </div>
              <div class="form__content">
                <span>Số CMND/CCCD</span>
                <p>6868686868686868</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-bg">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Chứng nhận tiêm chủng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal__header mb-3">
            <img src="img/logo.png" alt="">
            <p class="mt-3">ĐÃ TIÊM <strong>2</strong> MŨI VẮC XIN</p>
            <img class="QR__code" src="img/qrcode.png" alt="">
          </div>
          <h6>Danh sách lịch sử đăng ký tiêm</h6>
          <div class="form mt-3">
            <div class="form__wrap">
              <div class="form-left">
                <div class="date1">20</div>
                <div class="date2">10/2021</div>
                <div class="check-active">Chưa duyệt</div>
                <div class="check-active hide">Đã duyệt</div>
              </div>
              <div class="form-right">
                <div class="form__right-title">
                  <i class='bx bxs-user'></i>
                  <span>Ngô Văn Tùng</span>
                </div>
                <div class="form__right-title">
                  <i class='bx bxs-calendar'></i>
                  <span>18/03/2001</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
  <script src="javascript/js.js"></script>
</html>