@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(241, 237, 237) !important;
}

nav {
  background: linear-gradient(133deg,#694de6,#6db33e,#df360c);
  color: #fff;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 5px;
}

.header__logo .image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.header_category ul{
  display: flex;
}

.header_category ul li{
  list-style: none;
  padding: 0 10px;
}

.container-fluid .header__logo {
  text-decoration: none;
  color: #fff;
}
.container-fluid:hover .header__logo {
  color: #fff;
}

.nav-item {
  margin-right: 20px;
}

.header__title {
  font-size: 18px;
}

.navbar-nav {
  font-size: 16px;
  text-align: center;
}

.btn__login {
  background-color: #fff;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #253494;
  margin: 0 auto;
  padding: 0 6px;
  align-items: center;
  list-style: none;
}

.btn__login:hover {
  background-color: #253494;
  border: 1px solid #fff;
}

.btn__login:hover a {
  color: #fff !important;
}

.btn__login a {
  color: #253494 !important;
}

.dropdown-menu li {
  text-align: center;
}

.dropdown-menu a {
  color: #000 !important;
}

.nav-item a {
  color: #fff;
}

.hide {
  display: none;
}

.navbar-toggler-icon i{
  padding-top: 5px;
}

.new__wrap {
  cursor: pointer;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 20px 0 10px 0;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 600;
  height: 500px;
  position: relative;
}

.row:first-child {
  margin-top: 5.5rem;
}

.new {
  margin: 0 10px;
  width: 100%;
}

.new span {
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: #fff;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.new img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 980px) {
  .new__wrap {
    height: 300px;
  }

  .avatar__wrap {
    position: unset !important;
  }

  .category-right {
    /* border-left: 1px solid transparent; */
    /* padding-left: 0px; */
}
}


.category-left {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.category-left img {
  max-width: 220px;
}



.category-right {
  cursor: pointer;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px 10px 0;
  text-decoration: none ;
  color: #000;
}

.category-right span,
.category-left span {
  padding-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 1.8rem;
  height: 7rem;
}

.category-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category__wrap {
  background-color: #fff;
  padding: 20px 0 10px 0;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.category__wrap img {
  border-radius: 10px;
}

.nav-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.nav__avatar {
  position: relative;
}

.nav__avatar img{
  margin: 0 15px;
}

.avatar__wrap {
  position: absolute;
  top: 62px;
  right: 20px;
  background: #fff;
  border-radius: 5px;
  transition: 0.4s;
}

.avatar__item {
  padding: 5px 10px;
  width: 100%;
}

.avatar__item:first-child{
  padding-top: 10px;
}

.avatar__item:last-child {
  padding-bottom: 10px;
}

.avatar__wrap .avatar__item:hover {
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.avatar__wrap a {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

.avatar__wrap li{
  list-style: none;
}

.avatar__wrap li a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* Form1 */
.title {
  text-align: center;
  padding: 20px 0;
}

.title span {
  font-weight: 500;
}
.title p {
  color: #df360c;
  padding-top: 10px;
}

.title-b {
  color: #df360c;
}

.title-bold {
  font-weight: 600;
  font-size: 16px;
}

.sex {
  margin-bottom: 8px;
}

.Btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px 0;
  height: 100px;
}

.button {
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(64, 64, 179);
  border: none;
  outline: none;
}

.error {
  background-color: #e74c3c;
}

/* modal */
.modal__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__header img:first-child {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.form {
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form__wrap{
  display: flex;
}

.form__icon{
  font-size: 20px;
  padding-right: 10px;
}

.form__content span {
  font-size: 14px;
}

.form__content p{
  font-weight: 600;
}

.modal__header img{
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.modal-bg {
  background-color: #24864b !important;
  color: #fff;
}

.form__icon1 {
  display: flex;
}

.form-left {
  text-align: center;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.form-right {
  padding: 10px 20px;
  align-items: center;
}

.form__right-title {
  display: flex;
  align-items: center;
}

.form__right-title i{
  font-size: 20px;
  padding: 5px;
}

.date1{
  font-size: 36px;
  font-weight: 600;
  color: #ccc;
}

.date2{
  padding: 10px;
}

.check-active{
  background-color: rgb(216, 163, 64);
  padding: 5px 10px;
  border-radius: 25px;
  
}